#container {
    display: grid;
    grid: repeat(4, 200px) / auto-flow 317px;
  }
  
  #container > div {
    background-color: #8ca0ff;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;

  }
  
  #export {
   font-size: 40px;
   text-align: center;
   padding-bottom: 30px;
  }